
/* for titles and shi, sometimes naka italic tho */
.serif {
    font-family: 'Playfair Display', serif;
    /* font-style: italic; */
    font-weight: 500;
    font-size: 36px;
}

/* For buttons and stuff */
.sans-serif {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--textcolor1);
}

/* for most body text */
.body-text {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--textcolor1lighter);
}