* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* examples lang */
:root {
    --bgcolor: white;
    --textcolor1: black;
    --textcolor1lighter: #1a1a1a;
    --textcolor2: white;
    --accent1: powderblue;
    --accent1hover: blue;
}

/* Pang test lang */
/* div {
    border: 1px solid black;
} */

body {
    background-color: var(--bgcolor);
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > * > * {
    max-width: 1200px;
    width: 100%;
    padding: 1.5rem;
}


